body{    
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin:0px;
    color: white;
}

nav{
    display:flex;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    justify-content: center;   
    align-items: center;
    height: 44px;
    font-weight: 100;
    font-size: 12px; 
    overflow:hidden;
    z-index: 3;    
}

.navItem{
    padding: 20px;
    text-decoration: none;
}

a{
    color: white;    
    text-decoration: none;
}

.magGlass{
    margin-top: 45px;
}

#shopNowHead{
    display:flex;
    background-color: #E34140;
    margin-top:44px;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    align-items: center;
    justify-content: center;
}

#shopNowLink:hover{
    text-decoration: underline;
}

#shoppingBox{
    background-color: black;
    text-align: center;
    overflow:hidden;
    height:625px;
}

#shoppingBoxHead{
    padding-top: 46px;
    font-size: 54px;
    margin-top: 0px;
}

#shoppingBoxHead2{
    font-size: 26px;
    font-weight: 500;
    margin-top:-42px;
    margin-bottom: 17px;
}

#little1Link{
    font-size: 20px;
}

#little1Link:hover{    
    color: #2997ff;
}



.blueLink{     
    color: #2997ff;
    font-size: 20px;
    font-weight: 500;
}

.blueLink:hover{
    text-decoration: underline;
}

.blueLinkArrow{
    display:inline-block;
    color: #2997ff;
}

#dates{
    padding-left: 380px;
}

#datesCircle{
    color: white;
    border: solid rgba(255, 255, 255, 0.514) 1px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    text-align: center;
    margin-top:33px;
    display: inline-block;
}

#fri{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.486);
    letter-spacing: 1px;
}

#date26{
    margin-top:-20px;
    font-size: 72px;
    font-weight: 500;
}



#date27{
    font-size: 72px;
    font-weight: 100;   
    margin-top: 50px;
    opacity: 0.3;
    margin-left:25px;
    display: inline-block;
}

#date28{
    font-size: 72px;
    font-weight: 100;
    opacity: 0.2;
    margin-top: 50px;
    margin-right:40px;
    display: inline-block;
    margin-left:40px;
}

#date29{
    font-size: 72px;
    font-weight: 100;
    opacity: 0.1;
    margin-top: 50px;
    display: inline-block;
    margin-left:5px;    
}

#watchPic{
    margin-left:-10px;
    padding-bottom: 38px;
    padding-right: 30px;  
    /* border: none; */
    margin-bottom: -35px;  
}

#redPhonePic{
    padding-right: 30px;
}

#iPhone13Pro{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.blackText{
    color: black;
}

#iPhoneProHeader{
    font-size: 55px;
    margin-top:45px;
}

#iPhoneProHeader2{
    font-size: 28px;
    font-weight: 500;
    margin-top:-40px;    
}

#learnBuyiPhonePro{
    margin-top: -10px;
    color: #06c;
}

.darkerBlue{
    color: #06c;
}

.learnMore{
    padding-right: 35px;    
}

#iPhoneProPicBox{    
    overflow: hidden;
    
}

#iPhoneProPic{
    margin-left:-835px;
    position:relative;
    z-index: -1;
    margin-top: -230px;
}

#iPhone13{
    background-color: rgb(53, 40, 60);
    margin-top: -40px;
    height: 579px;  
}

#iPhone13Header{
    font-size: 55px;
    text-align: center;
    padding-top: 42px;
    


}

#iPhone13Header2{
    font-size: 26px;
    text-align: center;
    margin-top: -43px;
    color: rgb(254, 194, 235);
    font-weight: 500;
}

#learnBuyiPhone{
    text-align: center;
    margin-top:-12px;
}

#iPhonePicBox{
    overflow: hidden;
}

#iPhonePic{
    margin-left:-865px;
    /* position:relative; */
    margin-top: -240px;
    
    
}

#mainShop{
    background-color: white;
    margin-top: -36px;
}

#season{
    background-color: rgb(251, 237, 250);
    width: 50%;
    margin-top:48px;
    margin-left:12px;    
}

#seasonHeader{
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom:10px;
}

#seasonLink{
margin-left: 290px;
font-size: 17px;
}

#seasonPicBox{    
    margin-top: 0px;
    height: 400px;    
    overflow: hidden;
}

#seasonPic{    
    position:relative;
    margin-top: -175px;    
    margin-left: -330px;        
}